<%= form_for(etransaction) do |f| %>
  <% if etransaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(etransaction.errors.count, "error") %> prohibited this etransaction from being saved:</h2>

      <ul>
      <% etransaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_ %>
    <%= f.text_field :id_ %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :num %>
    <%= f.text_field :num %>
  </div>

  <div class="field">
    <%= f.label :currency_id_ %>
    <%= f.text_field :currency_id_ %>
  </div>

  <div class="field">
    <%= f.label :currency_space %>
    <%= f.text_field :currency_space %>
  </div>

  <div class="field">
    <%= f.label :date_entered_date %>
    <%= f.datetime_select :date_entered_date %>
  </div>

  <div class="field">
    <%= f.label :date_entered_ns %>
    <%= f.number_field :date_entered_ns %>
  </div>

  <div class="field">
    <%= f.label :date_posted_date %>
    <%= f.datetime_select :date_posted_date %>
  </div>

  <div class="field">
    <%= f.label :date_posted_ns %>
    <%= f.number_field :date_posted_ns %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
