<%= semantic_form_for etransaction do |f| %>
  <% if etransaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(etransaction.errors.count, "error") %> prohibited this etransaction from being saved:</h2>

      <ul>
      <% etransaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inputs do %>
    <%= f.input :id_, as: :hidden %>
    <%= f.input :description %>
    <%= f.input :num %>
    <%= f.input :currency_id_, as: :hidden %>
    <%= f.input :currency_space, as: :hidden %>
    <%= f.input :date_entered_date, as: :hidden %>
    <%= f.input :date_entered_ns, as: :hidden %>
    <%= f.input :date_posted_date %>
    <%= f.input :date_posted_ns, as: :hidden %>
  <% end %>

  <div id="splits">
    <%= f.semantic_fields_for :splits do |split| %>
      <%= render 'split_fields', f: split %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add split', f, :splits %>
    </div>      
  </div>

  <div class="actions">
    <%= f.actions %>
  </div>

<% end %>
