
<div class="nested-fields">
  <%= f.inputs do %>
    <%= f.input :id_, as: :hidden %>
    <%= f.input :memo %>
    <%= f.input :reconciled_state, as: :hidden %>
    <%= f.input :value %>
    <%= f.input :quantity, as: :hidden %>
    <%= f.input :action, as: :hidden %>
    <%= f.input :reconcile_date_date, as: :hidden %>
    <%= f.input :reconcile_date_ns, as: :hidden %>
    <%= f.input :account_id, as: :select, collection: Hash[Account.all.map{|b| [b.full_name, b.id]}] %>
    <%= f.check_box :_destroy %>
  <% end %>

  <%= link_to_remove_association "remove split", f %>
</div>
