<p id="notice"><%= notice %></p>

<h1>Transaktioner</h1>

<table>
  <thead>
    <tr>
      <th>Datum</th>
      <th>Num</th>
      <th>Beskrivning</th>
      <th>Konto</th>
      <th>Avstämt</th>
      <th>Insättning</th>
      <th>Uttag</th>
    </tr>
  </thead>

  <tbody>
    <% @etransactions.each do |etransaction| %>
      <tr>
        <td><%= etransaction.date_posted_date %></td>
        <td><%= etransaction.num %></td>
        <td><%= etransaction.description %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <%= render etransaction.splits %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etransaction', new_etransaction_path %>
