<p id="notice"><%= notice %></p>

<style>
th, td {border: 1px solid black}
table, th, td { border-collapse: collapse }
th {background-color: #f2f2f2}
</style>

<table id="example-table">
  <thead>
    <tr>
      <th align="left">Datum</th>
      <th align="left">Num</th>
      <th align="left">Beskrivning</th>
      <th align="left">Konto</th>
      <th align="left">Avstämt</th>
      <th align="left">Öka</th>
      <th align="left">Minska</th>
      <th>Split id</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @etransaction.date_posted_date_str %></td>
      <td><%= @etransaction.num %></td>
      <td><%= @etransaction.description %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <% @etransaction.splits.sort_by{|split| split.id}.each do |split| %>
    <tr>
      <td style="border:none"></td>
      <td></td>
      <td><%= split.memo %></td>
      <td><%= split.account_full_name %></td>
      <td><%= split.reconciled_state %></td>
      <td><%= if not split.value.nil? and split.value > 0 then split.value end %></td>
      <td><%= if not split.value.nil? and split.value < 0 then -split.value end %></td>
      <td><%= split.id %></td>
    </tr>
    <% end %>
  <tbody>
</table>

<button type="button" id="add-split">Ny del</button>

<%= link_to 'Back', etransactions_path %>

<script>
  var table = new Tabulator("#example-table", {
  columns:[
  {title: "Datum", field: "date", editor: "input", validator: "regex:^\\d\\d\\d\\d-\\d\\d-\\d\\d$"},
  {title: "Num", field: "number"},
  {title: "Beskrivning", field: "description", editor: "input"},
  {title: "Konto", field: "account", editor: "autocomplete", editorParams:{
  values: [
  <% Account.all.each do |account| %>
  "<%= account.full_name %>",
  <% end %>
  ]
  }},
  {title: "Avstämt", field: "reconciled", editor: "input"},
  {title: "Öka", field: "increase", editor: "input", validator:["numeric", "min:0"]},
  {title: "Minska", field: "decrease", editor: "input", validator:["numeric", "min:0"]},
  {title: "Ta bort", formatter:"buttonCross", align:"center", cellClick:function(e, cell){
    cell.getRow().delete();
  }},
  {title: "Split id", field: "split_id", visible: false}
  ],
  dataEdited:function(data){
  var url = "<%= update_data_etransaction_url(@etransaction) %>";
  var ajaxData = "data="+JSON.stringify(data);
  $.ajax({ url: url,
  type: 'POST',
  beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
  data: ajaxData,
  success: function(response) {
    table.updateData(response);
  }
  });
  },
  dataEdited2:function(data){
  //data - the updated table data
  alert("Data edited");
  var url = "<%= update_data_etransaction_url(@etransaction) %>";
  var xhr = new XMLHttpRequest();
  xhr.open("POST", url, true);
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.send(JSON.stringify(data));  }
  });

  $("#add-split").click(function(){
    table.addRow({});
  });

</script>

