<p id="notice"><%= notice %></p>

<style>
th, td {border: 1px solid black}
table, th, td { border-collapse: collapse }
th {background-color: #f2f2f2}
</style>

<table id="example-table">
  <thead>
    <tr>
      <th align="left">Datum</th>
      <th align="left">Num</th>
      <th align="left">Beskrivning</th>
      <th align="left">Konto</th>
      <th align="left">Avstämt</th>
      <th align="left">Öka</th>
      <th align="left">Minska</th>
      <th>Split id</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @etransaction.date_posted_date_str %></td>
      <td><%= @etransaction.num %></td>
      <td><%= @etransaction.description %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <% @etransaction.splits.sort_by{|split| split.id}.each do |split| %>
    <tr>
      <td style="border:none"></td>
      <td></td>
      <td><%= split.memo %></td>
      <td><%= split.account_full_name %></td>
      <td><%= split.reconciled_state %></td>
      <td><%= split.increase_str %></td>
      <td><%= split.decrease_str %></td>
      <td><%= split.id %></td>
    </tr>
    <% end %>
  <tbody>
</table>

<button type="button" id="add-split">Ny del</button>

<%= link_to 'Back', etransactions_path %>

<script>
  var dateEditor = function(cell, onRendered, success, cancel, editorParams){
    //cell - the cell component for the editable cell
    //onRendered - function to call when the editor has been rendered
    //success - function to call to pass the successfuly updated value to Tabulator
    //cancel - function to call to abort the edit and return to a normal cell
    //editorParams - params object passed into the editorParams column definition property

    //create and style editor
    var editor = document.createElement("input");

    editor.setAttribute("type", "date");

    //create and style input
    editor.style.padding = "3px";
    editor.style.width = "100%";
    editor.style.boxSizing = "border-box";

    //Set value of editor to the current value of the cell
    editor.value = moment(cell.getValue(), "YYYY-MM-DD").format("YYYY-MM-DD")

    //set focus on the select box when the editor is selected (timeout allows for editor to be added to DOM)
    onRendered(function(){
        editor.focus();
        editor.style.css = "100%";
    });

    //when the value has been set, trigger the cell to update
    function successFunc(){
        success(moment(editor.value, "YYYY-MM-DD").format("YYYY-MM-DD"));
    }

    editor.addEventListener("change", successFunc);
    editor.addEventListener("blur", successFunc);

    function keyFunc(e){
    }
    editor.addEventListener("keydown", keyFunc);

    //return the editor element
    return editor;
  };

  var table = new Tabulator("#example-table", {
  columns:[
  {title: "Datum", field: "date", editor: dateEditor, validator: "regex:^\\d\\d\\d\\d-\\d\\d-\\d\\d$"},
  {title: "Num", field: "number"},
  {title: "Beskrivning", field: "description", editor: "input"},
  {title: "Konto", field: "account", editor: "autocomplete", editorParams:{
  values: [
  <% Account.all.each do |account| %>
  "<%= account.full_name %>",
  <% end %>
  ]
  }},
  {title: "Avstämt", field: "reconciled", editor: "input"},
  {title: "Öka", field: "increase", editor: "input", validator:["numeric", "min:0"]},
  {title: "Minska", field: "decrease", editor: "input", validator:["numeric", "min:0"]},
  {title: "Ta bort", formatter:"buttonCross", align:"center", cellClick:function(e, cell){
    cell.getRow().delete();
  }},
  {title: "Split id", field: "split_id", visible: false}
  ],
  dataEdited:function(data){
  var url = "<%= update_data_etransaction_url(@etransaction) %>";
  var ajaxData = "data="+JSON.stringify(data);
  $.ajax({ url: url,
  type: 'POST',
  beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
  data: ajaxData,
  success: function(response) {
    table.updateData(response);
  }
  });
  },
  dataEdited2:function(data){
  //data - the updated table data
  alert("Data edited");
  var url = "<%= update_data_etransaction_url(@etransaction) %>";
  var xhr = new XMLHttpRequest();
  xhr.open("POST", url, true);
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.send(JSON.stringify(data));  }
  });

  $("#add-split").click(function(){
    table.addRow({id: table.getDataCount()}, false);
  });

</script>

