<p id="notice"><%= notice %></p>

<style>
th, td {border: 1px solid black}
table, th, td { border-collapse: collapse }
th {background-color: #f2f2f2}
</style>

<table>
  <thead>
    <tr>
      <th align="left">Datum</th>
      <th align="left">Num</th>
      <th align="left">Beskrivning</th>
      <th align="left">Konto</th>
      <th align="left">Avstämt</th>
      <th align="left">Öka</th>
      <th align="left">Minska</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= best_in_place @etransaction, :date_posted_date %></td>
      <td><%= best_in_place @etransaction, :num %></td>
      <td><%= best_in_place @etransaction, :description %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <% @etransaction.splits.each do |split| %>
    <tr>
      <td style="border:none"></td>
      <td></td>
      <td><%= best_in_place split, :memo %></td>
      <td><%= best_in_place split, :account_id, :type => :select, :collection => Account.all.map { |i| [i.id, i.full_name] } %></td>
      <td><%= split.account.full_name %></td>
      <td><%= best_in_place split, :reconciled_state %></td>
      <td><%= if split.value > 0 then split.value end %></td>
      <td><%= if split.value < 0 then -split.value end %></td>
    </tr>
    <% end %>
  <tbody>
</table>

<%= link_to 'Edit', edit_etransaction_path(@etransaction) %> |
<%= link_to 'Back', etransactions_path %>
