<%= form_for(slot) do |f| %>
  <% if slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(slot.errors.count, "error") %> prohibited this slot from being saved:</h2>

      <ul>
      <% slot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %>
    <%= f.text_field :key %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="field">
    <%= f.label :value_gdate %>
    <%= f.date_select :value_gdate %>
  </div>

  <div class="field">
    <%= f.label :value_slot_key %>
    <%= f.text_field :value_slot_key %>
  </div>

  <div class="field">
    <%= f.label :value_slot_value %>
    <%= f.text_field :value_slot_value %>
  </div>

  <div class="field">
    <%= f.label :value_slot_value_slot_key %>
    <%= f.text_field :value_slot_value_slot_key %>
  </div>

  <div class="field">
    <%= f.label :value_slot_value_slot_value %>
    <%= f.text_field :value_slot_value_slot_value %>
  </div>

  <div class="field">
    <%= f.label :etransaction_id %>
    <%= f.text_field :etransaction_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
