<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @slot.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @slot.value %>
</p>

<p>
  <strong>Value gdate:</strong>
  <%= @slot.value_gdate %>
</p>

<p>
  <strong>Value slot key:</strong>
  <%= @slot.value_slot_key %>
</p>

<p>
  <strong>Value slot value:</strong>
  <%= @slot.value_slot_value %>
</p>

<p>
  <strong>Value slot value slot key:</strong>
  <%= @slot.value_slot_value_slot_key %>
</p>

<p>
  <strong>Value slot value slot value:</strong>
  <%= @slot.value_slot_value_slot_value %>
</p>

<p>
  <strong>Etransaction:</strong>
  <%= @slot.etransaction %>
</p>

<p>
  <strong>Account:</strong>
  <%= @slot.account %>
</p>

<%= link_to 'Edit', edit_slot_path(@slot) %> |
<%= link_to 'Back', slots_path %>
