<%= form_for(split) do |f| %>
  <% if split.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(split.errors.count, "error") %> prohibited this split from being saved:</h2>

      <ul>
      <% split.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_ %>
    <%= f.text_field :id_ %>
  </div>

  <div class="field">
    <%= f.label :memo %>
    <%= f.text_field :memo %>
  </div>

  <div class="field">
    <%= f.label :reconciled_state %>
    <%= f.text_field :reconciled_state %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :action %>
    <%= f.text_field :action %>
  </div>

  <div class="field">
    <%= f.label :reconcile_date_date %>
    <%= f.datetime_select :reconcile_date_date %>
  </div>

  <div class="field">
    <%= f.label :reconcile_date_ns %>
    <%= f.number_field :reconcile_date_ns %>
  </div>

  <div class="field">
    <%= f.label :account_id %>
    <%= f.text_field :account_id %>
  </div>

  <div class="field">
    <%= f.label :etransaction_id %>
    <%= f.text_field :etransaction_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
