<p id="notice"><%= notice %></p>

<h1>Splits</h1>

<table>
  <thead>
    <tr>
      <th>Id </th>
      <th>Memo</th>
      <th>Reconciled state</th>
      <th>Value</th>
      <th>Quantity</th>
      <th>Account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @splits.each do |split| %>
      <tr>
        <td><%= split.id_ %></td>
        <td><%= split.memo %></td>
        <td><%= split.reconciled_state %></td>
        <td><%= split.value %></td>
        <td><%= split.quantity %></td>
        <td><%= split.account %></td>
        <td><%= link_to 'Show', split %></td>
        <td><%= link_to 'Edit', edit_split_path(split) %></td>
        <td><%= link_to 'Destroy', split, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Split', new_split_path %>
