<%= link_to "<", summary_path(:year => @prev_year) %>
<%= link_to ">", summary_path(:year => @next_year) %>
<table>
<% @rows.each do |row| %>
<tr>
  <td>
    <%= row[:title] %>
  </td>
  <td style = "text-align: right;">
    <%= row[:incoming] %>
  </td>
  <% row[:months].each do |column| %>
  <td style = "text-align: right;">
    <%= column %>
  </td>
  <% end %>
  <td style = "text-align: right;">
    <%= row[:average] %>
  </td>
  <td style = "text-align: right;">
    <%= row[:sum] %>
  </td>
</tr>
<% end %>
</table>
