<%= link_to "<", summary_path(:year => @prev_year) %>
<%= link_to ">", summary_path(:year => @next_year) %>
<table>
<% @rows.each do |row| %>
<tr>
  <td>
    <% if row[:account_id].nil? %>
      <%= row[:title] %>
    <% else %>
      <%= link_to row[:title], account_path(:id => row[:account_id], :year => @year) %>
    <% end %>
  </td>
  <td style = "text-align: right;">
    <%= row[:incoming] %>
  </td>
  <% row[:months].zip(@month_nrs).each do |column, month_nr| %>
  <td style = "text-align: right;">
    <% if row[:account_id].nil? %>
      <%= column %>
    <% else %>
      <%= link_to column, account_path(:id => row[:account_id], :year => @year, :month => month_nr) %>
    <% end %>
  </td>
  <% end %>
  <td style = "text-align: right;">
    <%= row[:average] %>
  </td>
  <td style = "text-align: right;">
    <%= row[:sum] %>
  </td>
</tr>
<% end %>
</table>
