<p id="notice"><%= notice %></p>

<p>
  <strong>Id :</strong>
  <%= @price.id_ %>
</p>

<p>
  <strong>Source:</strong>
  <%= @price.source %>
</p>

<p>
  <strong>Value:</strong>
  <%= @price.value %>
</p>

<p>
  <strong>Commodity id :</strong>
  <%= @price.commodity_id_ %>
</p>

<p>
  <strong>Commodity space:</strong>
  <%= @price.commodity_space %>
</p>

<p>
  <strong>Currency id :</strong>
  <%= @price.currency_id_ %>
</p>

<p>
  <strong>Currency space:</strong>
  <%= @price.currency_space %>
</p>

<p>
  <strong>Time date:</strong>
  <%= @price.time_date %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
