<%= form_for(date_posted) do |f| %>
  <% if date_posted.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(date_posted.errors.count, "error") %> prohibited this date_posted from being saved:</h2>

      <ul>
      <% date_posted.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.datetime_select :date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
