<!DOCTYPE html>
<html>
<head>
  <title>Economia</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
  <%= javascript_pack_tag 'Index' %>
</head>
<body>

<%= link_to "Ny transaktion", new_etransaction_path %>
<%= link_to "Konton", accounts_path %>
<%= link_to "Sammanställning", summary_path %>
<%= link_to "Transaktioner", etransactions_path %>
<hr />
<%= yield %>

</body>
</html>
