<!DOCTYPE html>
<html>
<head>
  <title>Economia</title>
  <%= csrf_meta_tags %>
  <%= javascript_pack_tag 'Computer' %>
  <%= stylesheet_pack_tag 'Computer' %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<hr />
<%= yield %>

</body>
</html>
