<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @account.description %>
</p>

<p>
  <strong>Type :</strong>
  <%= @account.type_ %>
</p>

<p>
  <strong>Id :</strong>
  <%= @account.id_ %>
</p>

<p>
  <strong>Commodity scu:</strong>
  <%= @account.commodity_scu %>
</p>

<p>
  <strong>Code:</strong>
  <%= @account.code %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @account.parent %>
</p>

<p>
  <strong>Commodity id :</strong>
  <%= @account.commodity_id_ %>
</p>

<p>
  <strong>Commodity space:</strong>
  <%= @account.commodity_space %>
</p>

<table>
  <thead>
    <tr>
      <th>Datum</th>
      <th>Num</th>
      <th>Beskrivning</th>
      <th>Överföring</th>
      <th>Avstämt</th>
      <th><%= @account.decrease_name %></th>
      <th><%= @account.increase_name %></th>
      <th>Saldo</th>
    </tr>
  </thead>
  <tbody>
    <% @account.splits.each do |split| %>
    <tr>
      <td><%= split.etransaction.date_posted_date %></td>
      <td><%= split.etransaction.num %></td>
      <td><%= split.etransaction.description %></td>
      <td><%= split.other_account %></td>
      <td><%= split.reconciled_state %></td>
      <td><%= if split.value > 0 then split.value end %></td>
      <td><%= if split.value < 0 then -split.value end %></td>
    </tr>
    <% end %>
  <tbody>
</table>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
